[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
pync = {git = "https://github.com/SeTeM/pync.git"}
invoke = "*"

[requires]
python_version = "3.7"
